.Badges__hero {
  width: 100%;
  padding: 1rem 0;
  background: url(../../images/backgroundCyber.png) #0B0706;
  background-repeat: repeat;
  margin-bottom: 1rem;
}
.Badges_conf-logo {
  height: 160px;
}

.Badges__hero .Badges__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Badges__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  
}

.Badges__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}


