.BadgeDetails__hero {
    width: 100%;
    padding: 2rem 0;
    background: url(../../images/backgroundCyber.png) #0B0706;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;
  }

  .BadgeDetails__hero img {
    height: 160px;
  }
  
  .BadgeDetails__hero-attendant-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .BadgeDetails__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }